@using static Microsoft.AspNetCore.Mvc.TagHelpers.PartialTagHelper;

@{
    
    ViewBag.Title = "محصولات";
}


<div class="container">
    <div class="pb-2 d-flex align-items-center justify-content-between" dir="rtl" style="margin-top: 100px;text-align: right">
        <a class="m-0 btn btn-primary " href="@Url.Action("Create")">افزودن محصول جدید</a>
        @*<select onchange="sortByVisit(this.value)">
            <option>بدون مرتب سازی</option>
            <option value="false">مرتب سازی بر اساس بیشترین بازدید</option>
            <option value="true">مرتب سازی بر اساس کمترین بازدید</option>
        </select>*@
        <select class="" onchange="sellectSellerProducts(this.value)" id="sellerOpt">
            <option>
                همه محصولات
            </option>
            <option value="0">
                ادمین
            </option>
            
        </select>
    </div>
    <div class="table-wrapper" id="productsList">
       @Html.Action("ProductsList")
        @* <partial name="ProductsList" /> *@
    </div>
    
</div>

@section Scripts {
    <link href="~/Admin/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/Admin/Content/DataTables/datatables.min.js"></script>
    <script>
        $(document).ready(() => {
            $('.dataTable').DataTable()
        })
        sortByVisit = (con) => {
            if (con != null & con != "") {
                $('#productsList').html('<div class="text-center text-white" dir="rtl">لطفا منتظر بمانید...</div>');
                $.get('/Admin/Products/SortByVisit?acc=' + con, (res) => {
                    $('#productsList').html(res);
                    $('.dataTable').DataTable()
                })
            }
        }
    </script>
    <style>
        .pgl .li:last-child{
            display:none
        }
    </style>
}