@model DataLayer.Models.ContactForm

@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";

    var result = "";
    if (TempData["Message"] != null)
    {
        result = TempData["Result"].ToString();
        if (result == "ok")
        {
            result = "alert-success";
        }
        else if (result == "error")
        {
            result = "alert-danger";
        }
    }
    string title = ViewBag.PageTitle;
}

<div class="container p-2 contact">
    <h1 class="text-center mt-2"><span class="title">@title</span></h1>
    <div class="alert @result text-center">
        @TempData["Message"]
    </div>
    <div class="row">

        <div class="col-sm-6 p-2">
            <div class="card border p-4">
                @Html.Raw(ViewBag.Content)
            </div>
        </div>
        <div class="col-sm-6 p-2">
            <div class="card border">
                
            </div>
        </div>
    </div>
</div>

@section Styles{
    <style>
        .contact h1 {
            font-size: 2rem;
            border-bottom: 3px solid #ccc;
        }

        .contact h1, .contact .title {
            line-height: 1.65;
        }

        .contact .title {
            border-bottom: 3px solid #00b58c
        }

        .g-recaptcha > div {
            margin: auto
        }
        .card p{
            text-align: justify
        }
    </style>
}

@section Scripts{
    <script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>

}