
    <footer class="footer">
        <div class="footer-middle">
            <div class="_icon-boxes-container bg-transparent">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                                        <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                    </svg>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">ارسال رایگان</h3><!-- End .icon-box-title -->
                                    <p>برای سفارشات بالای 1 میلیون تومان</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                                        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                                    </svg>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">بازگرداندن محصول</h3><!-- End .icon-box-title -->
                                    <p>تا 10 روز بعد از خرید</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                                        <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z" />
                                        <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z" />
                                    </svg>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">تخفیف ویژه</h3>
                                    <!-- End .icon-box-title -->
                                    <p>برای خریدهای بالای 10 میلیون تومان</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
                                        <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
                                    </svg>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">پشتیبانی محصولات</h3><!-- End .icon-box-title -->
                                    <p>7 روز هفته، 24 ساعته</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div>
                    <hr class="m-0" style="border-color: #333"/><!-- End .row -->
                </div><!-- End .container -->
            </div>
   <!-- End .icon-boxes-container -->
        </div>
        <div class="footer-middle p-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 mb-sm-4">
                        <div class="widget widget-about">
                            <img src="~/Content/images/logo/main-logo_180_67.webp" class="footer-logo"
                                 alt="Footer Logoc" title="Footer Logo">
                            <h1 style="font-size: 1.5rem">
                                فروشگاه آنلاین پزشک افزار - تخصصی ترین مرجع تجهیزات پزشکی
                            </h1>

                            <div class="widget-call">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#00b58c" class="bi bi-telephone position-absolute" style="right:1rem" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                </svg>
                                سوالی دارید؟ 7روز هفته/24ساعته
                                <a href="tel:09301407490">09301407490</a>
                            </div><!-- End .widget-call -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3 mb-sm-4">
                        <div class="widget">
                            <h4 class="widget-title">لینک های مفید</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li data-page-name="AboutUs"><a href="/AboutUs">درباره ما</a></li>
                                <li data-page-name="blog"><a href="/blog/4/%D9%81%D8%B1%D8%A2%DB%8C%D9%86%D8%AF-%D8%AE%D8%B1%DB%8C%D8%AF-%D8%AF%D8%B1-%D9%BE%D8%B2%D8%B4%DA%A9-%D8%A7%D9%81%D8%B2%D8%A7%D8%B1">نحوه خرید</a></li>
                                <li data-page-name="faq"><a href="/faq" class="shpl">سوالات متداول</a></li>
                                <li data-page-name="ContactUs"><a href="/ContactUs" class="shpl">تماس با ما</a></li>
                                <li data-page-name="terms-and-conditions"><a href="/terms-and-conditions" class="shpl">قوانین و مقررات</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3 mb-sm-4">
                        <div class="widget">
                            <h4 class="widget-title">حساب کاربری</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li data-page-name="login"><a href="/login" class="shpl">ورود</a></li>
                                <li data-page-name="wishlist"><a href="/wishlist" class="shpl">لیست علاقه مندی ها</a></li>
                                <li data-page-name="account"><a href="/account/myorders" class="shpl">سفارش های من</a></li>
                                @*<li><a href="#">راهنما</a></li>*@
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3 mb-sm-4">
                        <div class="widget">
                            <h4 class="widget-title">نماد اعتماد الکترونیک</h4><!-- End .widget-title -->
                            <div class="text-right">
                                <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=215560&amp;Code=S6NAjTdJQQjI1MDUigiu"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=215560&amp;Code=S6NAjTdJQQjI1MDUigiu" title="enamad" alt="enamad" style="cursor:pointer" id="S6NAjTdJQQjI1MDUigiu"></a>
                            </div>
                            
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container p-2">
                <div class="row w-100">
                    <div class="col-md-6 align-items-center d-flex footer-bottom-right">
                        <p class="footer-copyright text-right ">تمامی حقوق این وبسایت محفوظ است .</p>
                    </div>
                    <div class="col-md-6 text-left footer-bottom-left">
                        طراحی و توسعه: <a href="https://amho.ir" target="_blank"><img class="d-inline" title="امیرحسین جانمحمدی" alt="امیرحسین جانمحمدی" src="~/Images/amho-logo.png" width="60" /></a>
                    </div>
                </div>
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer>

@section Scripts{
    <style>
        @@media(max-width:768px){
            .mb-sm-4 {
                margin-bottom: 4rem
            }
        }
    </style>
    }