
@{
    ViewBag.Title = "ServerError";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
        <img src="~/Content/images/500_error.webp" class="m-auto" width="100%"/>
        <br />
        <div class="text-danger border border-danger p-2 mb-2">
            <p class="text-center">
                کاربر گرامی، متاسفانه مشکلی از سمت سرور بوجود آمده!<br />
                گزارشی از این خطا برای ما ارسال شده و در اسرع وقت آن را حل میکنیم.
            </p>
        </div>
    </div>
</div>

