
<header class="header header-intro-clearance header-3">
    

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler m-0 p-0">
                    <span class="sr-only">فهرست</span>
                    <div class="position-absolute" style="right: 0.5rem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" style="right:0.3rem" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </div>
                </button>

                @*<div class="">*@
                <a href="/" class="logo shpl">
                    <img src="~/images/logo/main.webp" alt="Pezeshkafzar Logo" title="Pezeshkafzar Logo">
                </a>
                @*</div>*@
            </div><!-- End .header-left -->

            <div class="header-center ml-0">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle shpl" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </a>
                    <form action="/Search" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">جستجو</label>
                            <button class="btn btn-primary" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </button>
                            <input type="search" class="form-control" name="q" id="searchInput"
                                   placeholder="جستجوی محصولات ..." required oninput="searchSuggestion(event)">
                        </div><!-- End .header-search-wrapper -->

                    </form>
                    <div id="searchSuggestion"></div>
                </div><!-- End .header-search -->
            </div>

            <div class="header-right">

                <div class="account in-desktop-flex">

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="/login" class="login-account shpl">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                </svg>
                            </div>
                            <p class="in-desktop">ورود / ثبت نام</p>
                        </a>
                    }
                    else
                    {
                        <a href="/account" class="account shpl">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                </svg>
                            </div>
                            <p class="in-desktop">حساب کاربری</p>
                        </a>
                    }
                </div>
                <div class="wishlist in-mobile" id="wishList-header">
                        @* @if (User.Identity.IsAuthenticated)
                        {
                        @Html.ActionAsync("WishList", "WishList").Result
                        } *@
                    </div><!-- End .compare-dropdown -->

                <div class="dropdown cart-dropdown in-desktop-flex d-block-product-page mr-3" id="showCart">
                    @Html.Action("ShowCart", "ShopCart")
                </div><!-- End .cart-dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <div class="dropdown category-dropdown" id="category-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" data-display="static"
                       title="فهرست دسته بندی ها">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list position-absolute" style="right:0.3rem" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                        فهرست دسته بندی ها
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-down mr-3" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                    <div class="dropdown-menu" id="mega-menu-container">
                        <nav class="side-nav">
                            <ul class="menu-vertical sf-arrows megamenu menu-level-1">

                                @Html.Action("ShowGroups","Home")
                            </ul>
                        </nav>
                    </div>
                </div><!-- End .header-left -->
            </div>
            <div class="header-center">
                <nav class="main-nav">
                    <ul class="menu">
                        <li class="" data-page-name="home">
                            <a href="/" class="shpl" >خانه</a>


                        </li>
                        <li data-page-name="AllOffers">
                            <a href="/AllOffers" class="shpl" >تخفیف ها</a>


                        </li>

                        <li data-page-name="AboutUs">
                            <a href="/AboutUs" class="shpl">درباره ما </a>
                        </li>

                        <li data-page-name="ContactUs">
                            <a href="/ContactUs" class="shpl">تماس با ما</a>
                        </li>
                        <li data-page-name="blog">
                            <a href="/blog/All" class="shpl">بلاگ</a>


                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-center -->

            <div class="header-right">
                <div class="header-lightbulb-icon">
                    <p>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <a href="/Admin" class="btn btn-outline-info shpl">ورود به پنل ادمین</a>
                        }
                    </p>
                </div>
                <div class="dropdown cart-dropdown" id="showCart2">
                    @Html.Action("ShowCart", "ShopCart")
                </div>
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->

</header>