@model IEnumerable<DataLayer.Models.Products>

@*<article>

        @foreach (var item in Model)
        {
            @Html.Action("_product",item)
        }

        <div class="clearfix"></div>
    </article>*@

<div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
     data-owl-options='{
     "lazyLoad": true,
                            "nav": false,
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
    @foreach (var item in Model)
    {
        @Html.Action("_product", item)
    }
</div>
