@model IEnumerable<DataLayer.Models.Page>

@{
    ViewBag.Title = "صفحات";
    Layout = "~/Areas/Admin/Views/Shared/_DefaultAdmin.cshtml";
    int c = 1;
}

<div style="height:75px"></div>
<div class="container bg-white p-2" dir="rtl">

    <h2 class="text-center p-2 border shadow ">صفحات</h2>

    <p>
        <a class="btn btn-success" href="/admin/pages/create">افزودن صفحه جدید</a>
    </p>
    <table class="table">
        <tr>
            <th>
                ردیف
            </th>
            <th>
                عنوان
            </th>
            <th>
                لینک
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@c</td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageTitle)
                </td>
                <td dir="ltr">
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    <a class="btn btn-warning" href="/admin/pages/edit/@item.Id">ویرایش</a>
                </td>
            </tr>
            c++;
        }

    </table>
</div>