@{
    bool[] list = ViewBag.Level;
    string[] _list = ViewBag.ListName;
    int count = 0;
    string[] url = ViewBag.Url;
}



<div class="stepwizard table-responsive">
    <div class="stepwizard-row">
        @for (int i = 0; i < 5; i++)
        {
            <div class="stepwizard-step">
                <a href="@((list != null && list[i]==true)?url[i]:"#")" class="stepwizard-btn btn btn-default btn-circle shpl @((list != null &&list[i])?"active":"")">@(_list != null ? _list[i]:"")</a>
            </div>
            if (list != null && list[i])
            {
                count++;
            }
        }
    </div>
</div>
<style>

    .stepwizard-row:after {
        width: @(20 * count)%;
    }
</style>