@model DataLayer.Models.Orders


<div class="text-center" dir="rtl">
    <p>آیا از حذف سفارش با شماره پیگیری @Model.TraceCode اطمینان دارید؟</p>
    <div class="text-center">
        <a class="btn btn-danger" href="/admin/orders/DeleteConfirmed/@Model.Id">بله</a>
        <a class="btn btn-warning" data-dismiss="modal">خیر</a>
    </div>
</div>