
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_DefaultAdmin.cshtml";

}

<div class="container">
    <div class="pb-2 d-flex align-items-center justify-content-between" dir="rtl" style="margin-top: 100px;text-align: right">
        <select class="" onchange="reportSelling(this.value)" id="sellerOpt">
            <option value="">
                همه سفارشها
            </option>
            
        </select>
        <div class="pull-left">
            <a class=" btn btn-warning" onclick="deleteExpiredOrders()">حذف سفارشات نهایی نشده</a>
            <input class="text-center m-0" type="number" id="selectHour" value="" style="width: 50px"  />
        </div>
    </div>
    <div class="table-wrapper" id="orderTable">
        @Html.Action("OrderTable")
    </div>
</div>

@section Scripts {
    <link href="~/Areas/Admin/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/DataTables/datatables.min.js"></script>
    <script>
        $(function () {
            $('.dataTable').DataTable()
        })
    </script>
}