@model IEnumerable<DataLayer.Models.Users>
<div style="height:75px"></div>
<div class="container bg-white p-2" dir="rtl">

    <h2 class="text-center p-2 border shadow ">افزودن کاربر جدید</h2>

    <div class="pb-2 d-flex align-items-center justify-content-between" dir="rtl" text-align: right">
        <a class="m-0 btn btn-primary " href="@Url.Action("Create")">افزودن کاربر جدید</a>

    </div>
    <table class="table">
        <tr>
            <th>ردیف</th>
            <th>نام و نام خانوادگی</th>
            <th>
                شماره موبایل
            </th>
            <th></th>
        </tr>

        @{
            int c = 1;
            foreach (var item in Model)
            {
                <tr>
                <td>@c</td>
                    <td>@(item.UserInfo.FirstOrDefault()?.FirstName + item.UserInfo.FirstOrDefault()?.LastName)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>

                    <td>
                        <a class="btn btn-outline-warning btn-xs"
                           data-toggle="tooltip" data-placement="top" title="ویرایش"
                           href="/admin/user/edit/@item.Id">
                            <i class="now-ui-icons ui-2_settings-90"></i>
                        </a>
                        <a class="btn btn-outline-danger btn-xs"
                           data-toggle="tooltip" data-placement="top" title="حذف"
                           href="/admin/user/delete/@item.Id">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </a>
                    </td>
                </tr>
                c++;
            }
        }

    </table>
</div>