@model DataLayer.Models.Users
@{
    ViewBag.Title = "بازیابی کلمه عبور";
}


<div class="tab-content">
    <div class="tab-pane fade active show p-0" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
        <div class="login-page pt-5 pb-5">
            <div class="container">
                <div class="form-box border border-success shadow text-center p-5 bg-light">
                    <h4 class="text-center">@Model.UserName عزیز</h4>
                    <p class="text-center">ایمیلی حاوی لینک بازیابی کلمه عبور به ایمیل " @Model.Email " ارسال شد ، لطفا وارد ایمیل فوق شوید و روی لینک کلیک کنید .</p>
                </div>
            </div>
        </div>

    </div>
</div>